img.icon{
    display: none !important;
}

*[id*="grade_"]	{
    width: 50px !important;
}

.gradeparent{
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; 
}

#page-blocks-ases-view-global_grade_book{
    width: 100% !important;    
}

.highlightable{
    width: 50px;
    word-wrap: break-word;
}

.gradereport-grader-table td, .gradereport-grader-table{
    margin: 10px 0px 10px 0px;
    border: solid thin black;
}