<div class="tab-pane active " id="discapacity_tab">
    <div class = "row">
        <div class ="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            Algo 6 
        </div>
        <div class ="col-xs-6 col-sm-6 col-md-6 col-lg-6">
             Algo 6
        </div>
    </div>

    <div class= "row">
        <div class ="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            Algo 1
        </div>
        <div class ="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            Algo 1
        </div>
        <div class ="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            Algo 1
        </div>
        <div class ="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            Algo 9
        </div>

    </div>

    <div class = "row">
        <div class ="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            Algo 4
        </div>
        <div class ="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            Algo 4
        </div>
        <div class ="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            Algo 4
        </div>
    </div>



</div>
